@charset "utf-8";
#header{
    background: #f7f7f7;
    width: 100%;
    height: auto;
}
#header_login{
    height: auto;
    width: 100%;
    border-bottom:4px solid  #a71b1c;
    .header_logo{
        width: 1200px;
        height: 75px;
        padding: 12px 0;
        margin: 0 auto;
        a{
            display: block;
            width: 75px;
            height: 75px;
            float: left;
            background: url(../img/logo.png) no-repeat left bottom;
        }
    }
    .head_cart{
        width: 570px;
        height: 35px;
        float: right;
        margin-top: 20px;
        p{
            background: url(../img/cart_tit_new.png) no-repeat;
            width: 570px;
            height: 35px;
        }
    }
}


//购物车
.cart_wrapper{
    width: 100%;
    height: auto;
    .cart_biaozhunchangdu{
        width: 1200px;
        margin: 0 auto;
        padding-bottom: 20px;
    }
    //购物车标题
    .cart_title{
        height: 36px;
        line-height: 36px;
        padding-top: 10px;
        .ule_shop{
            color: #000;
            font-weight: bold;
            float: left;
            height: 32px;
            line-height: 32px;
            padding: 2px 25px;
            padding-bottom: 0;
            font-size: 16px;
            span{
                color: #c7181d;;
            }
        }
        .myshouchang{
            float: right;
            a{
                display: inline-block;
                color: #06c;
                padding-left: 21px;
                background: url(http://i0.ulecdn.com/ule/cart/v3/images/ico_myfavor.png) no-repeat left center;
                
            }
        }
    }
    //购物车中心内容头部
    .cart_header{
        padding-top: 44px;
        position: relative;
        .cart_jiangjin{    
            position: absolute;
            top: 10px;
            left: 25px;
            width: 82px;
            height: 24px;
            line-height: 24px;
            background-image: url(http://i0.ulecdn.com/i/search/2016/0316/zjl_icon_001.png);
            background-repeat: no-repeat;
            text-indent: -1000px;
        }
        ul{
            height: 36px;
            line-height: 36px;
            padding: 0 10px;
            background-color: #f3f3f3;
            .chk-all{
                width: 14px;
                height: 14px;
                margin: 11px auto;
            }
        }
    }
    //购物车底部
    .cart_foot{
        padding: 15px 10px 30px;
        height: 24px;
        line-height: 24px;
        a{
            display: inline-block;
            width: 108px;
            height: 24px;
            padding-left: 20px;
        }
    }
}
//每一条商品
.cart_store{
    position: relative;
    padding-top: 10px;
    .shop_name{
        ul{
            height: 34px;
            line-height: 34px;
            padding: 0 10px;
            a{    
                float: left;
                font-size: 14px;
                color: #1475ba;
                padding-left: 21px;
                background: url(http://i0.ulecdn.com/ule/cart/v3/images/icons.png) no-repeat 0 9px;
            }
        }
    }
}
.cart_items{
    border: solid 1px #e8e8e8;
    padding: 0 9px;
    ul{
        overflow: hidden;
        padding: 15px 0;
        .shop_img{
            float: left;
            img{
                display: block;
                width: 78px;
                height: 78px;
                border: solid 1px #eee;
            }
        }
        .shop_icons{      
            float: left;
            width: 190px;
            margin-left: 10px;
            height: 44px;
            line-height: 22px;
        }
    }
}
.cart_attr{
    width: 160px;
    float: left;
    height: 80px;
    line-height: 22px;
    p{
        color: #666;
    }
}           
//购物车结算
.cart_settle{
    width: 100%;
    height: 60px;
    background-color: #f3f3f3;
    .cart_total{    
        position: relative;
        width: 1200px;
        height: 40px;
        margin: 0 auto;
        padding: 10px 0;
        dl{
            float: left;
            width: 100px;
            line-height: 20px;
        }
        .prod-totalprice {
            width: auto;
            dd {
            line-height: 40px;
            margin-left: 5px;
            color: #c42e15;
            font-size: 36px;
            float: left;
        }
        dt{
            float: left;
        }
        }
        .fr{
            float: right;
            .btn_continue{
                float: left;
                width: 98px;
                height: 38px;
                line-height: 38px;
                margin-right: 10px;
                text-align: center;
                font-size: 14px;
                font-family: "microsoft yahei";
                background-color: #fff;
                border: solid 1px #bbb;
                border-radius: 4px;

            }
            .btn_ordernow{
                float: left;
                width: 130px;
                height: 38px;
                line-height: 38px;
                text-align: center;
                color: #fff;
                font-size: 18px;
                font-weight: bold;
                font-family: "microsoft yahei";
                background-color: #d10208;
                border: solid 1px #a61325;
                border-radius: 4px;
            }
        }
    }
}


//购物车相同样式
.cart-check{
    width: 34px;
    text-align: center;
    float: left;
}
.cart-name{
    width: 490px;
    float: left;
}
.cart-price{
    width: 100px;
    float: left;
}
.cart-count{
    float: left;
    width: 140px;
}
.cart-total{
    float: left;
    width: 100px;    
    margin-left: 30px;
    span{
        font-family: arial;
        font-weight: bold;
        color: #c42e15;
    }
}
.cart-action{
    float: left;
    width: 60px;
}
em{
    font-style: normal;
}
.cart-num{
    float: left;
    .jian{
        border-right: none;
        background: url(http://i0.ulecdn.com/ule/cart/v3/images/icons.png) no-repeat 3px -157px;
        background-color: #fff;
        float: left;
        width: 22px;
        height: 22px;
        border: solid 1px #ccc;
        cursor: pointer;
    }
    .jia{
        border-left: none;
        background:url(http://i0.ulecdn.com/ule/cart/v3/images/icons.png) no-repeat 3px -141px;
        background-color: #fff;
        float: left;
        width: 22px;
        height: 22px;
        border: solid 1px #ccc;
        cursor: pointer;
    }
    .pCount{
        float: left;
        width: 44px;
        height: 22px;
        line-height: 22px;
        padding: 0;
        text-align: center;
        border: solid 1px #ccc;
        background-color: #fff;
    }
}
.zezhaoceng{
    display: none;
    width: 350px;
    height: 131px;
    position: absolute;
    left: 574.5px;
    top: 261.5px;
    z-index: 9999;
    background-color: rgb(255, 255, 255);
    border-width: 1px;
    border-style: solid;
    border-color: rgb(190, 183, 173);
    border-image: initial;
    overflow: hidden;
    .pdb-title{
        background-color: rgb(187, 40, 43);
        color: rgb(255, 255, 255);
        height: 25px;
        overflow: hidden;
        h4{
            float: left;
            font-size: 12px;
            font-weight: bold;
            line-height: 25px;
            height: 25px;
            text-indent: 10px;
            color: rgb(255, 255, 255);
            padding: 0px;
            margin: 0px;
        }
        span{
            color: rgb(255, 255, 255);
            width: auto;
            float: right;
            display: block;
            line-height: 15px;
            height: 15px;
            font-size: 12px;
            cursor: pointer;
            padding-right: 15px;
            margin: 5px;
            background: url(http://i1.ulecdn.com/j/jend/util/dialog/images/dialog_bg_btn.gif) right -49px no-repeat;
        }
    }
    .pdb-content{
        background-color: rgb(255, 255, 255);
        color: rgb(102, 102, 102);
        font-size: 12px;
        line-height: 150%;
        overflow: hidden;
        height: 60px;
        .pdb-contentframe{
            .msg-confirm{
                line-height: 20px;
                background: url(http://i1.ulecdn.com/j/jend/util/dialog/images/ico_confirm_32.png) 30px 15px no-repeat;
                padding: 20px 20px 20px 70px;
            }
        }
    }
    .pdb-bottom{
        height: 25px;
        padding: 10px 20px;
        background: url(http://i1.ulecdn.com/j/jend/util/dialog/images/dialog_bg_bottom.gif) repeat-x;
        overflow: hidden;
        .pdb-bottom-action{
            height: 25px;
            line-height: 25px;
            float: right;
            .btn-action{
                border-width: 1px;
                border-style: solid;
                border-color: rgb(255, 141, 69);
                border-image: initial;
                display: inline-block;
                margin-right: 5px;
                height: 23px;
                line-height: 23px;
                padding: 0px;
                text-decoration: none;
                em{
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    background-color: rgb(255, 141, 69);
                    background-position: left 0px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(255, 183, 76);
                    border-image: initial;
                    display: inline-block;
                    font-style: normal;
                    font-size: 12px;
                    height: 12px;
                    line-height: 12px;
                    cursor: pointer;
                    padding: 5px 10px 4px;
                    background: url(http://i1.ulecdn.com/j/jend/util/dialog/images/dialog_bg_btn.gif) repeat-x;
                }
            }
            .btn-cancel{
                border-width: 1px;
                border-style: solid;
                border-color: rgb(190, 183, 173);
                border-image: initial;    
                display: inline-block;
                margin-right: 5px;
                height: 23px;
                line-height: 23px;
                padding: 0px;
                text-decoration: none;
                em{
                    color: rgb(102, 102, 102);
                    background-color: rgb(245, 245, 245);
                    background-position: left -25px;
                    border-width: 1px;
                    border-style: solid;
                    border-color: rgb(255, 255, 255);
                    border-image: initial;
                    display: inline-block;
                    font-style: normal;
                    font-size: 12px;
                    height: 12px;
                    line-height: 12px;
                    cursor: pointer;
                    padding: 5px 10px 4px;
                }
            }
        }
    }
}