#header{
    background: #f7f7f7;
    width: 100%;
    height: auto;
}
#header_login{
    height: auto;
    width: 100%;
    border-bottom:4px solid  #a71b1c;
    .header_logo{
        width: 1200px;
        height: 75px;
        padding: 12px 0;
        margin: 0 auto;
        a{
            display: block;
            width: 75px;
            height: 75px;
            float: left;
            background: url(../img/logo.png) no-repeat left bottom;
        }
    }
}
#login{
    width: 1200px;
    margin: 0 auto;
    padding-bottom: 20px;
    .login_bg{
        background: url(http://pic1.ulecdn.com/item/user_0102/desc20190211/69624389a5ef2ab0_-1x-1.png) no-repeat center center;
        height: 495px;
        width: 100%;
        position: relative;
        form{    
            width: 332px;
            height: 468px;
            background-color: #FFF;
            border-radius: 3px;
            box-shadow: #999 0px 0px 2px;
            position: absolute;
            left: 60%;
            top: 12px;
            h3{
                font-size: 16px;
                color: #333;
                margin: 18px 0 26px 15px;
            }
            p{
                height: 62px;
                position: relative;
                span{
                    background: url(../img/login_icons.png) no-repeat 0 -85px;
                    position: absolute;
                    display: block;
                    height: 38px;
                    width: 23px;
                    left: 21px;
                    top: 0;
                }
                .changeimg{
                    background-position: 0 -117px;
                }
                input{
                    width: 277px;
                    height: 18px;
                    line-height: 18px;
                    padding: 10px 0 10px 23px;
                    border: 1px solid #cacaca;
                    font-size: 14px;
                    margin: 0 0 0 15px;
                }
                .check{
                    width: 14px;
                    height: 14px;
                    padding: 0;
                    margin: 0 0 0 15px;
                }
                label{
                    color: #656567;
                    line-height: 20px;
                }
                i{
                    height: 12px;
                    width: 12px;
                    display: inline-block;
                    background: url(../img/icons.png) no-repeat -29px -36px;
                    margin: 4px 0 0 4px;
                    cursor: pointer;
                }
                .forgetpw{
                    padding: 0 15px;
                    float: right;
                    font-style: normal;
                    color: #03c;
                }
            }
            .rightnowsubmit{
                margin-left: 15px;
                width: 302px;
                height: 38px;
                line-height: 38px;
                color: #fff;
                border: 1px solid #a71427;
                background-color: #d10208;
                text-align: center;
                border-radius: 3px;
                font-size: 16px;
                font-weight: bold;
            }
            .register{
                float: right;
                padding: 10px 0;
                color: #666;
                em{
                    font-style: normal;
                    color: #03c;
                }
            }
            .login_partner{
                width: 317px;
                padding-left: 15px;
                text-align: left;
                padding-top: 15px;
                position: absolute;
                bottom: 20px;
                left: 0px;
                p{
                    color: #999999;
                    height: 20px;
                }
                a{
                    float: left;
                    width: 50px;
                    height: 50px;
                    margin-right: 24px;
                    background: url(../img/links_icon.png) no-repeat;
                }
                .QQ{
                    background-position:-59px 0; 
                }
                .TOM{
                    background-position:-118px 0; 
                }
                .yusi{
                    background-position:-253px 0; 
                }
            }
        }
    }
}