@charset "utf-8";
$list:header  footer login header_login;

#header{
    background: #f7f7f7;
}
@each $var in $list {
    ##{$var} {
        height: auto;
        width: 100%
    }
}

#header_login{
    border-bottom: solid 4px #a71b1c;
    .header_logo{
        width: 1200px;
        height: 75px;
        padding: 12px 0;
        margin: 0 auto;
        a{
            display: block;
            width: 75px;
            height: 75px;
            float: left;
            background: url(../img/logo.png) no-repeat left bottom;
        }
    }
}

#login{    
    background: #f7f7f7;
    padding: 20px 0;
    .login_main{    
        width: 920px;
        height: 500px;
        background: #fff;
        padding: 30px 15px 0 15px;
        margin: 0 auto;
        .login_title{
            border-bottom: 1px solid #f0f0f0;
            background: url(../img/title_tip.jpg) no-repeat center right;
            a{
                width: 138px;
                height: 46px;
                display: block;
                line-height: 46px;
                font-size: 16px;
                color: #333;
                border: 1px solid #f0f0f0;
                border-bottom: 0px;
                margin-left: 30px;
                text-align: center;
            }
        }
        form{
            padding-left: 200px;
            p{
                margin-top: 25px;
                height: 40px;
                span{
                    width: 70px;
                    height: 40px;
                    float: left;
                    font-size: 14px;
                    line-height: 40px;
                    color: #999;
                }
                label{
                    width: 100px;
                    margin-left: 10px;
                    height: 40px;
                    font-size: 14px;
                    line-height: 40px;
                    color: #c52e15;
                }
                input{
                    width: 278px;
                    height: 38px;
                    line-height: 38px;
                    padding: 0 10px;
                    border: 1px solid #cacaca;
                    color: #333;
                    font-size: 14px;
                }
                .check{
                    padding: 0;
                    margin: 0;
                    width: 14px;
                    height: 14px;
                }
                .checktext{
                    color: #AEAEAE;
                    font-size: 14px;
                    a{
                        color: #03c;
                    }
                }
            }
        }
    }
}